<%# <h1>Listando Administradores</h1> %>

<div class="container-fluid">
  <h1 class="h3 mb-2 text-gray-800">Listando Administradores</h1>
  <div class="card shadow mb-4">
    <div class="card-header py-3">

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-hover" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th style="width: 80px">#</th>
              <th>Email</th>
              <th style="width:87px">
                <%= link_to new_admins_backoffice_admin_path, class:"btn btn-success btn-circle btn-sm" do %>
                    <i class="fas fa-plus"></i>
                <% end %>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @admins.each do |admin| %>
              <tr>
                <td><%= admin.id %></td>
                <td><%= admin.email %></td>
                <td>
                  <%= link_to edit_admins_backoffice_admin_path(admin), class:"btn btn-primary btn-circle btn-sm" do %>
                      <i class="fas fa-edit"></i>
                  <% end %>
                  <%= link_to admins_backoffice_admin_path(admin), method: :delete, class:"btn btn-danger btn-circle btn-sm", data: { confirm: "Deseja realmente excluir esse administrador?"} do %>
                      <i class="fas fa-minus"></i>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="text-center">
          <%= paginate @admins %>
        </div>
      </div>
    </div>
  </div>
</div>