<div class="container-fluid">
	<h1 class="h3 mb-2 text-gray-800"><%= action_message %></h1>
  <% if @admin.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h6 class="m-0 font-weight-bold text-primary">Foram encontrados os seguintes erros:</h6>
      <br/>
      <ul>
        <% @admin.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<div class="card shadow mb-4">
		<div class="card-header py-3">
      <%= "#{action_message}" %>
	  </div>
		<div class="card-body">
			<div class="row">
				<%# <div class="col-lg-6"> %>
				<div class="col">
					<%= form_with(model: [ :admins_backoffice, @admin ], local: true) do |form| %>
						<div class="form-group">
							<%= form.label :email %>
							<%= form.text_field :email, class:"form-control", placeholder: "#{Admin.human_attribute_name(:email)}" %>
						</div>                           
							<div class="form-group">
									<%= form.label :password %>
									<%= form.password_field :password, 
														class:"form-control", 
														placeholder: "#{Admin.human_attribute_name(:password)}" %>
							</div>
							<div class="form-group">
									<%= form.label :password_confirmation %>
									<%= form.password_field :password_confirmation, 
														class:"form-control", 
														placeholder: "#{Admin.human_attribute_name(:password_confirmation)}" %>
							</div>
						<button type="submit" class="btn btn-primary"><%= t('button.submit')%></button>
						<%# <button type="reset" class="btn btn-primary">Limpar</button> %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>